.upload-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
}

.upload-form input,
.upload-form textarea {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.upload-form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-form button:hover {
  background-color: #0056b3;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 20px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items to edges */
  margin-bottom: 20px;
}

.upload-btn {
  display: flex;
  align-items: center;
}

.sort-btn {
  display: flex;
  align-items: center;
}

.sort-btn button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sort-btn button:hover {
  background-color: #0056b3;
}
